body{
    background-image: url('bgs/bg.jpeg');
    /*padding-bottom: 40px;*/
    background-color: #271f2b;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
}
.container{
    margin: auto;
    /*position: relative;*/
    top: 33%;
    left: 0;
    bottom: 0;
    right: 0;
}
.subscribeform{
    width: 48%;
    float: left;
    position: relative;
    background-color: whitesmoke;
    margin-top: 5%;
    margin-left: 3%;
    padding: 1%;
    opacity: 1;
}
